body {
  background: url(https://images.unsplash.com/photo-1514477917009-389c76a86b68?q=80&w=1967&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.weather-box {
  width: 350px;
  background: #fff;
  padding: 50px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.button-box {
  width: 350px;
  display: flex;
  justify-content: space-between;
}
