body {
  /* background: url(https://images.unsplash.com/photo-1514477917009-389c76a86b68?q=80&w=1967&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */
  background: linear-gradient(#7f7fd5, #86a8e7, #91eae4);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.weather-box {
  max-width: 500px;
  width: 100%;
  height: 220px;
  background: rgba(255, 255, 255, 0.6);
  padding: 50px;
  border-radius: 20px;
  box-shadow: 4px 8px 8px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  text-align: center;
}

.button-box {
  max-width: 500px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
